# Временные папки сборки Gradle
**/build/
.gradle/

# Локальные файлы настроек IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Контроль версий
.git/
.gitignore

# Документация и текстовые файлы проекта
*.md
LICENSE
